EpiPlus/xmls/Allergy-Style.dtd

<!ELEMENT stylesheet (output,template)>
<!ATTLIST stylesheet version NMTOKEN #REQUIRED>
<!ELEMENT output EMPTY>
<!ATTLIST output method NMTOKEN #REQUIRED>
<!ATTLIST output indent NMTOKEN #REQUIRED>
<!ELEMENT template (html)>
<!ATTLIST template match CDATA #REQUIRED>
<!ELEMENT html (p+)>
<!ELEMENT p (b,value-of?)>
<!ELEMENT b (#PCDATA|value-of)*>
<!ELEMENT value-of EMPTY>
<!ATTLIST value-of select CDATA #REQUIRED>